{% extends 'login.html' %} {% block title %} Bills {% endblock %} {% block main
%}
<h3 class="text-center mt-5">Group's bills:</h3>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Description</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    </tr>
    {% for bill in bills %}
      <th scope="row">{{ bill.id }}</th>
      <td>{{ bill.description }}</td>
      <td>{{ bill.amount }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
