{% extends 'login.html' %} {% block title %}Register{% endblock %} {% block
main%}
<form class="text-left mb-3">
  <h1 class="h5 mt-5 mb-3 fw-bold">Register</h1>
  <div class="form-floating">
    <input
      type="Full name"
      class="form-control"
      id="floatingName"
      placeholder="name"
    />
    <label for="floatingInput">Full name</label>
  </div>
  <div class="mt-2 form-floating">
    <input
      type="email"
      class="form-control"
      id="floatingEmail"
      placeholder="name@example.com"
    />
    <label for="floatingInput">Email</label>
  </div>
  <div class="mt-2 form-floating">
    <input
      type="password"
      class="form-control"
      id="floatingPassword"
      placeholder="Password"
    />
    <label for="floatingPassword">Password</label>
  </div>
  <div class="mt-2 form-floating">
    <input
      type="Repeat password"
      class="form-control"
      id="floatingRepPassword"
      placeholder="Repeat password"
    />
    <label for="floatingPassword">Repeat password</label>
  </div>
  <button class="mt-2 w-40 btn btn-primary" type="submit">Register</button>
</form>
<a href="{{ url_for('login') }}" class="text-muted pb-5"
  >Or perhaps, just login?</a
>
{% endblock %}
